


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul a{
    text-decoration: none;
    color: black;
}

li{
    text-decoration: none;
    list-style: none;
}

.fa-undo , 
.fa-plus-square{
    pointer-events: none;
}




nav {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    width: 90%;
    margin: auto;
}
nav h1{
    flex: 1 1;
    text-align: center;
    padding: 2rem;
}
.nav-links{
    display: flex;
    flex: 1 1;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}

.Carta{
    min-height: 90vh;
    width: 90%;
    margin: auto;
}

.cartaTittle{
    padding: 5rem;
    width: 100%;
    text-align: center;
}

.tituloCategoria{
    padding: 1rem;
    margin: 1rem;
    text-align: start;
}

.elementosCarta{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.buttomEnviar{
    display: flex;
    text-align: center;
    justify-content: center;
}

.enviarSeleccionesCarta{
    margin: 2rem;
    padding: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 2rem;
    border: none;
    background-color: white;
}

.enviarSeleccionesCarta:hover{
    background-color: #a37aa7;
    color: white;
}
.elementoCarta{
    flex:  1 1 20rem;
    padding: 2rem;
    display: flex;
}

.elementoCarta.elementoCartaSelecionado{
    border: 0.125rem solid #cacece;
}
.buttomsElemento{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

[type="checkbox"]{
    -webkit-appearance: none;
    flex: 1 1;
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: #fafafa;
    border: 0.125rem solid #cacece;
    border-radius: 0.25rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

[type="checkbox"]:checked{
    content: "\2714";
    color: #99a1a7;
    background-color: rgb(100, 151, 100);
}
.buttomsElemento button{
    flex: 1 1;
    padding: 0.5rem;
    margin: 0.5rem;
}
.elementoCarta .textElemento h2{
    text-align: center;
    padding: 1rem;
}

.elementoCarta .textElemento h3{
    text-align: center;
    padding: 1rem;
}

.seleccionadosCarta{
    position: sticky;
    bottom: 0;
    background-color:black;
}
.elementosSeleccionadosCarta{
    display:  flex;
    justify-content: space-around;
    align-items: center;
}
 .elementoSeleccionadoCarta{
     display: flex;
     align-items: center;
     border: 0.125rem solid #cacece;
     border-radius: 0.25rem;
 }

 .elementoSeleccionadoCarta button,h2 {
     padding: 0.5rem;
     margin: 1rem;
 }
 .elementoSeleccionadoCarta h2{
     color: white;
 }
 .elementoSeleccionadoCarta button{
     background-color: #a37aa7;
 }