
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#pedido-tittle{
    text-align: center;
    padding: 2rem;
    margin-top: 2rem;
}

.seleccionesBarra{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;

}



.platosSeleccionados{
    flex: 1 1;
    display: flex;
    margin: 1rem;
    padding: 1rem;
}

.platoSeleccionado{
    flex: 1 1 20rem;
    display:  flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(black,rgba(163, 154, 154, 0.692));
    color: white;
    border: 0.125rem solid #cacece;
}

.platoSeleccionado h2{
   margin: 1rem;
   padding: 1rem;
}

.platoSeleccionado.hidden {
    display: none;
}


.forwardButton , 
.backButton {
    margin: 2rem;
    padding: 1rem;
}

.fa-step-forward ,
.fa-step-backward {
    pointer-events: none;
}






.secformulario{
    width: 35%;
    margin: auto;
    min-height: 45vh;
    display: flex;
    flex-direction: column;
    
}

.secformulario .tittleForm{
    text-align: center;
    margin: 1rem;
    padding: 1rem;
}
.formulario {
    display: flex;
    flex-direction: column;
}

.campos{
    display: flex;
    margin: 2rem;
    padding: 1rem;
    justify-content: space-around;
}

.campos h1{
    flex:  1 1;
    padding: 1rem;
    
}
.campos input {
    padding: 1rem;
}


.buttomsPedido{
    display: flex;
    justify-content: center;
    
}

.bttomPedido{
    padding: 1rem;
    margin: 1rem;
    transition: all 1s ease 0s;   
}

.bttomPedido.hidden{
    display: none;
}

.dot{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}
.dot.dot-1{
    background-color: beige;
    transition: all 3s ease-in-out 0s;
}
.dot.dot-2{
    background-color: beige;
    transition: all 3s ease-in-out 1s;
}
.dot.dot-3{
    background-color: beige;
    transition: all 3s ease-in-out 2s;
}

.dot.dot-transition{
    background-color: black;
}

.dot.hidden{
    display: none;
}